.modal {
    margin: auto;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 20px;
}
.wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}