.input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 30px;
}

.textarea {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.input-field {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 5px
};